

/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
/* Fonts
Roboto Serif
DotGothic16
Gruppo */
/******************************************
/* LAYOUT
/*******************************************/

.hidden{
	display: none;  
}

.center{
  display: flex;
    justify-content: center;
  }

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body {
  border: 3rem solid #301f30; /* Deep purple border */
  padding: 1rem;
  background: hsla(54, 56%, 66%, 1);
  background: linear-gradient(90deg, hsla(54, 56%, 66%, 1) 0%, #C2A6F7 100%);
  background: -moz-linear-gradient(90deg, hsla(54, 56%, 66%, 1) 0%, #C2A6F7 100%);
  background: -webkit-linear-gradient(90deg, hsla(54, 56%, 66%, 1) 0%, #C2A6F7 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D9CF79", endColorstr="#5612D6", GradientType=1 );
}

a{
  font-size: 1.2rem;
  color: rgb(43, 0, 43);
  text-decoration: none;
  padding-right: 10px;
  transition: 0.4s;
}

a:hover{
  color: black;
  text-shadow: 1px 1px whitesmoke;
}

ul {
  padding: 0;
}

 li {  
   list-style: none;
 }

 #addVideoHere {
   margin-top: 10px;
 }

 

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
 button { 
   font-family: 'DotGothic16', 'Courier New', Courier, monospace;
   border: solid 1px black;
   border-radius: 10% 10% 15% 15%;
   padding: 20px;
   margin: 0 15px 10px 0;
   transition: 0.4s;
 }
 button:hover {
  color: black;
  border: solid 1px rgb(148, 18, 126);
  border-radius: 5% 5% 45% 15%;
  background-color: mediumspringgreen;
  text-transform: uppercase;
  font-weight: 700;
 }

 h1, h2 {
    font-family: 'Gruppo';     

 }

 h1 {
   font-size: 5rem;
   margin: 0;
   text-shadow: 1px 2px #4e917196;
  
 }
 h2 {  
  font-size: 2rem; 
}


#embed {
  border: solid 8px hsla(54, 56%, 66%, 1);
  border-radius: 10px;
}


 h3, h5, h6 {
   font-family: 'Roboto Serif', Georgia, 'Times New Roman', Times, serif;
   margin-top: 0;
 }
 footer{
   padding: 40px;
 }
 /******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Page border */
body {
  border: 3rem solid #301f30; /* Deep purple border */
}

/* Header */
header {
  padding: 20px;
}

/* Navigation */
nav {
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #00bfff; /* Dark neon blue background color */
}

/* Main section */
main {
  padding: 1rem;
}

#addVideoHere {
  padding: 3 rem;
  
  border-radius: .1em;
}

/* Responsive Breakpoints */
@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  #addVideoHere {
    width: 100%;
  }

  button {
    margin: 5px;
  }
}
