/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Gruppo&family=Roboto+Serif:wght@400;700&display=swap');

/******************************************
/* LAYOUT
/*******************************************/

html, body {
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

body {
  padding: 20px;
  min-height: 100%;
  background-color: #1a1a1a; /* Dark background color */
  color: #fff; /* White text color */
  font-family: 'DotGothic16', sans-serif;
}

a {
  color: #dcdcdc; /* Light gray link color */
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #fff; /* White link color on hover */
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

#addVideoHere {
  margin-top: 20px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

button {
  color: #fff; /* White button text color */
  font-family: 'DotGothic16', sans-serif;
  border: 2px solid transparent;
  border-radius: 10%;
  padding: 20px;
  margin: 10px;
  transition: all 0.5s ease;
  background-color: #148aff; /* Blue button background color */
}

button:hover {
  color: #000; /* Black button text color on hover */
  border-color: #ff6a00; /* Orange border color on hover */
  background-color: #ff6a00; /* Orange button background color on hover */
}

h1 {
  font-size: 3rem; /* Larger font size for headings */
  margin: 0;
  text-shadow: 2px 2px #ff6a00; /* Orange text shadow */
  font-family: 'Gruppo', sans-serif;
}

h2 {
  font-size: 2rem;
}

#embed {
  border: 8px solid #ff6a00; /* Orange border for video player */
  border-radius: 15px;
}

h3, h4, h5, h6 {
  font-family: 'Roboto Serif', serif;
  margin-top: 0;
}

#about {
  margin: 3rem auto; /* Improved margin for about section */
  padding: 2rem;
  line-height: 1.6;
  letter-spacing: 0.05rem;
  background-color: #404040; /* Dark gray background for about section */
  border-radius: 15px;
}

footer {
  padding: 20px;
}

#previousVideoBut {
  display: none;
}